<div class="outer">
    <br>
    <br> 
<h1><i>My Resume</i></h1>
<br>
<p>
    <b>ARWA SAJJAD</b><br>
    House # 154, Street 33b,<br>
     I-9/4 Islamabad<br>
     Mob: 03345890711<br>
     Email: arwakazmi98@gmail.com<br>

</p>
<hr>
<hr>
<br>
<div class="border">
    OBJECTIVE:
</div>
<br>
<p> I am doing Bachelors in Software Engineering from Capital Univeristy of
     science and technology. My strength are I am a punctual, hardworking and a disciplined person.
      I am passionate to develop my career in relevant field.
 </p>
 <br>

 <div class="border">
    EDUCATION:
</div>
<br>
<ul>
      <li>Metric Passed from Siddeque Public School.</li>
      <li>Fcs Passed from Punjab College.</li>
      <li>Doing B'S from CUST.</li>
</ul>
<br>
<div class="border">
    SKILLS:
</div>
<br>
    <p>I know about some programming languages</p>
    <ul>
    <li>for <b>Front-End </b> Html,Css,Javascript.</li>
    <li>for <b>Back-End</b> C++,Java.</li>
    
</ul>

<br>
<div class="border">
    WORKING EXPERIENCE:
</div>
<BR>
    <ul>
        <li>Done alot of course projects</li>
        
    </ul>
    <br>

    <div class="border">
        LANGUAGES:
    </div>
    <BR>
        <ul>
            <li>English</li>
            <li>Urdu</li>
            <li>Punjabi</li>
            
        </ul>





</div><!--end of outer div-->
